/* General styles for the body and container */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
    justify-content: center;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for form elements */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

form label {
    font-size: 18px;
    color: #666;
    width: 100%;
    text-align: left;
}

form input, form select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    align-self: center;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* New styles for delete button */
button.delete-button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button.delete-button:hover {
    background-color: #45a049;
}

/* Styles for headings */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-top: 30px;
    color: #333;
}

/* Styles for list */
ul {
    list-style-type: none;
    padding: 0;
    list-style-position: inside;
    text-align: left;
    width: 100%;
}

ul li {
    margin-bottom: 10px;
    line-height: 1.5;
    list-style-position: inside;
    list-style-type: circle;
    align-self: flex-start;
}

b {
    color: #4CAF50;
}

/* Styles for links */
a {
    font-size: 18px;
    color: #4CAF50;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

/* Additional styles for error messages */
.flash {
    color: red;
    margin: 10px 0;
}
