<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Expense</title>
</head>
<body>
    <h1>Add Expense</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.amount.label }} {{ form.amount }}
        {{ form.currency.label }} {{ form.currency }}
        {{ form.description.label }} {{ form.description }}
        {{ form.date.label }} {{ form.date(class="datepicker", placeholder="DD-MM-YYYY") }}
        {{ form.category.label }} {{ form.category }}
        {{ form.submit }}
    </form>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
</body>
</html>
