<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}">
</head>
<body>
    <div class="container">
    <h1>Welcome, {{ current_user.username }}!</h1>
    <p>Income of the current month: {{ "%.1f" | format(user_income) }}</p>
    <p>Total expenses of the current month: {{ "%.2f" | format(monthly_expenses) }}</p>
    <p>Budget: {{ "%.2f" | format(user_budget) }}</p>
    <p>Remaining budget: {{ "%.2f" | format(remaining_budget) }}</p>
    <p>Average daily expense to stay under budget: {{ "%.2f" | format(average_expense_remaining_days) }}</p>
{#    <a href="{{ url_for('add_category') }}">Category</a><br>#}
    <a href="{{ url_for('add_expense') }}">Add expense</a><br>
    <a href="{{ url_for('expenses_view') }}">View expenses</a><br>
    <a href="{{ url_for('income_manager') }}">Income</a><br>
    <a href="{{ url_for('manage_budget') }}">Budget</a><br>
    <a href="{{ url_for('shared_expenses_manager') }}">Split expenses</a><br>
    <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
