<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>
<body>
    <h1>Expenses</h1>
    <h3>Filtering options</h3>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.category.label }} {{ form.category }}
        {{ form.start_date.label }} {{ form.start_date }}
        {{ form.end_date.label }} {{ form.end_date }}
        {{ form.submit }}
    </form>

    <h2>Expenses</h2>
    <ul>
        {% for expense in expenses %}
        <li>
            {{ expense.date }}: {{ expense.amount }}¥ - {{ expense.description }} ({{ expense.category }})
            <form method="POST" style="display: inline;">
               <input type="hidden" name="delete" value="{{ expense.id }}">
                    <button type="submit">Delete</button>
                </form>
        </li>
        {% endfor %}
    </ul>
<a href="{{ url_for('dashboard') }}">Dashboard</a>
</body>
</html>
